﻿.swagger-section #api_selector {
    display: block;
    clear: both;
    float: right;
    margin-bottom: 10px;
}

.swagger-section #header {
    background-color: #89bf04;
    padding: 9px 14px 19px 14px;
    height: 60px;
    min-width: 775px;
}

.swagger-section #explore, .swagger-section #auth_container .authorize__btn {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 8px;
    font-size: 0.9em;
    color: white;
    background-color: #547f00;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    width: 50px;
}

.form-login {
    float: right;
    margin: 0 10px 5px 380px;
    font-size: 0.9em;
}

#username, #password, #provider, #externalAccessToken {
    font-size: 0.9em;
    padding: 3px;
    margin: 0;
    width: 201px;
    margin-left: 10px;
}

#login, #loginExternal {
    font-weight: bold;
    width: 67px;
    height: 26px;
    background-color: #547f00;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: white;
    border: 0px outset buttonface;
    margin-left: 8px;
    cursor: pointer;
}

#loginOption {
    float: right;
    margin: 0 10px 5px 0;
    font-size: 0.9em;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border-color: #1b631d;
}

#providerOption {
    display: inline;
}

select {
    height: 24px;
}

.login-error {
    width: 200px;
    height: 20px;
    height: auto;
    position: absolute;
    left: 91%;
    margin-left: -100px;
    top: 70px;
    background-color: #F46363;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.login-success {
    width: 200px;
    height: 20px;
    height: auto;
    position: absolute;
    left: 91%;
    margin-left: -100px;
    top: 70px;
    background-color: #34A13B;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.spinner-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.loader1 {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

    .loader1,
    .loader1:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
